---cson
layout: 'talk'
isTalk: true
title: 'Acting Together & Acting as One'
date: '2015/09/23'
authors: 'Stephen A. Butterfill'
event: "Desire and Action"
address: 'University of Antwerp'
abstract: ""
handout: false
slides: false
deckslides: true
---
