---cson
layout: 'talk'
isTalk: true
title: 'Acting Together: Motor Representation and Cooperation'
date: '2015/11/11'
authors: 'Stephen A. Butterfill'
event: "Kolloquium des Instituts für Philosophie II"
address: 'Ruhr-Universität Bochum, Germany'
abstract: ""
handout: true
slides: false
deckslides: true
---
