--- cson
layout: 'talk'
isTalk: true
title: 'Commentary on Wolfgang Prinz and Michael Graziano'
date: '2015/05/19'
authors: 'Stephen A. Butterfill'
event: "Modelling Self on Other"
address: 'Department of Cognitive Science, Central European University, Budapest, Hungary'
abstract: ""
handout: false
slides: false
deckslides: true
---
