--- cson
layout: 'talk'
isTalk: true
title: 'Acting Together and Acting As One'
date: '2015/05/22'
authors: 'Stephen A. Butterfill'
event: "Empathy, Group Membership and We-Intentionality"
address: 'Center for Subjectivity Research, University of Copenhagen, Denmark'
abstract: ""
handout: false
slides: false
deckslides: true
---
