--- cson
layout: 'talk'
isTalk: true
title: 'Introduction to the Workshop on Practical Reasoning and Motor Representation'
date: '2015/06/01'
authors: 'Stephen A. Butterfill and Corrado Sinigaglia'
event: "Practical Reasoning and Motor Representation"
address: 'University of Warwick, UK'
abstract: ""
handout: false
slides: true
deckslides: false
---
