--- cson
layout: 'talk'
isTalk: true
title: 'Purposive Action and Intention'
date: '2015/11/12'
authors: 'Stephen A. Butterfill'
event: "How much mind do we need for responsibility?"
address: 'Center for Interdisciplinary Research (ZiF), Bielefeld University, Germany'
abstract: ""
handout: false
slides: false
---
