--- cson
layout: 'talk'
isTalk: true
title: 'What Is Core Knowledge?  Phenomenal Expectations, Models and Signature Limits'
date: '2015/06/18'
authors: 'Stephen A. Butterfill'
event: "The Nature and Origins of Human Cognition"
address: 'Berlin School of Mind and Brain, Humboldt Universität zu Berlin, Germany'
abstract: ""
handout: false
slides: false
---
