--- cson
layout: 'talk'
isTalk: true
title: 'Joint Action'
date: '2014/02/28'
authors: 'Stephen A. Butterfill'
address: 'Department of Philosophy, University of Warwick'
abstract: ""
handout: true
slides: false
deckslides: true
---
