--- cson
layout: 'talk'
isTalk: true
title: 'Minimal Models of the Physical and of the Mental: Processes, Representations and  Signature Limits'
date: '2014/11/07'
authors: 'Stephen A. Butterfill'
event: "Minimal Mindreading"
address: 'University of Magdeburg, Germany'
abstract: ""
handout: false
slides: false
---
