--- cson
layout: 'talk'
isTalk: true
title: 'Minimal Models of the Physical and of the Mental: Processes, Representations and  Signature Limits'
date: '2014/11/07'
authors: 'Stephen A. Butterfill'
event: "Minimal Mindreading"
address: 'University of Magdeburg, Germany'
abstract: "This talk introduces a series of hypotheses and claims about the systems and models involved in mindreading (or ‘theory of mind’), explains how they generate predictions by drawing a parallel with cognition of physical properties like momentum, and highlights some recent evidence indicating that some of the hypotheses may be correct."
handout: true
slides: false
deckslides: true
---
