--- cson
layout: 'talk'
isTalk: true
title: 'Perceiving Anger and Sharing a Smile: Prospects for the Hypothesis That We Perceive Mental States, and How Some Limits on What Can Be Perceived Are Overcome through Simple Forms of Social Interaction'
date: '2014/11/05'
authors: 'Stephen A. Butterfill'
address: 'Institut für Philosophie II, Ruhr-Universität Bochum, Germany'
abstract: ""
handout: false
slides: false
---
