--- cson
layout: 'talk'
isTalk: true
title: 'Shared Agency Involves Changing Perspective'
date: '2014/02/19'
authors: 'Stephen A. Butterfill'
address: 'Department of Philosophy, University of Manchester'
abstract: false
handout: true
slides: false
deckslides: true
---


