--- cson
layout: 'talk'
isTalk: true
title: 'Collective Intentionality and Social Intelligence'
date: '2013/12/12'
authors: 'Stephen A. Butterfill'
address: 'University of Vienna, Austria'
abstract: false
handout: false
slides: false
deckslides: false
---


