--- cson
layout: 'talk'
isTalk: true
title: 'Not Just Wide but Shared: Joint Action Is a Core Form of Social Intelligence'
date: '2013/08/19'
date_end: '23'
authors: 'Stephen A. Butterfill'
event: 'Wide Cognition and Social Intelligence'
address: 'Kazimierz Dolny, Poland'
abstract: false
handout: false
slides: false
---


