--- cson
layout: 'talk'
isTalk: true
title: 'Varieties of Joint Action'
date: '2013/12/02'
date_end: '03'
authors: 'Stephen A. Butterfill'
event: 'Varieties of Shared Intentionality'
address: 'Institute of Philosophy, London'
abstract: false
handout: false
slides: false
deckslides: false
---


