---
layout: 'publication'
isPublication: true
isForthcoming: false
title: 'Awareness of Belief'
year: '2001'
sort_order: 2
authors: 'Stephen A. Butterfill'
booktitle: 'Argument & Analyse, vol. 2'
editor: 'Beckermann, Ansgar and Nimtz, Christian'
address: 'Bielefeld'
publisher: 'Mentis'
abstract: "Is it possible to appreciate how different people may have beliefs different from one's own (including beliefs which are inconsistent with one's own beliefs) without understanding what it is for beliefs to be true or false?  In this paper I argue that it is."
pdf: true
---


