---
layout: 'publication'
isPublication: true
isForthcoming: false
title: 'Coordinating Joint Action'
year: '2017'
sort_order: 10
authors: 'Stephen A. Butterfill'
booktitle: 'Routledge Handbook on Collective Intentionality'
editor: 'Kirk Ludwig and Marija Jankovic'
address: 'London'
pages: '68-82'
publisher: 'Routledge'
abstract: ""
pdf: true
---
