---
layout: 'publication'
isPublication: true
isForthcoming: true
title: 'Coordinating Joint Action'
year: 'forthcoming'
sort_order: 10
authors: 'Stephen A. Butterfill'
booktitle: 'Routledge Handbook on Collective Intentionality'
editor: 'Kirk Ludwig & Marija Jankovic'
address: ''
publisher: 'Routledge'
abstract: ""
pdf: true
---
