---
layout: 'publication'
isPublication: true
isForthcoming: true
title: 'Joint Action: A Minimalist Approach'
year: 'forthcoming'
sort_order: 10
authors: 'Stephen A. Butterfill'
booktitle: 'Routledge Handbook on the Social Mind'
editor: 'Julian Kiverstein'
address: ''
publisher: 'Routledge'
abstract: ""
pdf: true
---
