---
layout: 'publication'
isPublication: true
isForthcoming: false
title: 'Joint Action: A Minimalist Approach'
year: '2016'
sort_order: 10
authors: 'Stephen A. Butterfill'
booktitle: 'Routledge Handbook on the Social Mind'
editor: 'Julian Kiverstein'
address: 'London'
publisher: 'Routledge'
pages: '357–369'
abstract: ""
pdf: true
---
