---
layout: 'publication'
isPublication: true
isForthcoming: false
title: 'How to Construct a Minimal Theory of Mind'
authors: 'Stephen A. Butterfill and Ian A. Apperly'
year: '2013'
sort_order: 1
journal: 'Mind and Language'
volume: 28
number: 5
pages: '606-637'
abstract: "What could someone represent that would enable her to track, at least within limits, others' perceptions, knowledge states and beliefs including false beliefs?  An obvious possibility is that she might represent these very attitudes as such. It is sometimes tacitly or explicitly assumed that this is the only possible answer. However we argue that several recent discoveries in developmental, cognitive, and comparative psychology indicate the need for other, less obvious possibilities. Our aim is to meet this need by describing the construction of a minimal theory of mind.  Minimal theory of mind is rich enough to explain systematic success on tasks held to be acid tests for theory of mind cognition including many false belief tasks. Yet minimal theory of mind does not require representing propositional attitudes, or any other kind of representation, as such. Minimal theory of mind may be what enables those with limited cognitive resources or little conceptual sophistication, such as infants, chimpanzees, scrub-jays and human adults under load,  to track others' perceptions, knowledge states and beliefs."
pdf: true
---
