---
layout: 'publication'
isPublication: true
isForthcoming: false
authors: 'Corrado Sinigaglia and Stephen A. Butterfill'
pages: '292-305'
title: 'Motor Representation and Knowledge of Skilled Action'
year: '2020'
link: 'https://www.taylorfrancis.com/chapters/edit/10.4324/9781315180809-29/motor-representation-knowledge-skilled-action-corrado-sinigaglia-stephen-butterfill'
booktitle: 'Routledge Handbook of Skill and Expertise'
editor: 'Ellen Fridland and Carlotta Pavese'
address: 'London'
publisher: 'Routledge'
abstract: "If you are more skilled in performing certain actions, you are probably also better able to acquire knowledge when observing those actions. Why are performance skills so connected to observation skills? In this chapter, the authors defend a conjecture: it is because performing and observing actions involves a common element, namely motor representations of outcomes to which the actions are directed. This conjecture, which is supported by a significant body of evidence, implies that motor representations can have content-respecting influences on knowledge states. How is this possible? How do motor representations interface with knowledge states? Several distinct candidate answers have been proposed, but the evidence that would distinguish them is not yet available. There is, then, a major gap in our understanding of how expertise matters for gaining knowledge of observed actions. We know that motor representations do, in fact, facilitate the acquisition of observational knowledge, but no one can yet say how they do so."
pdf: true
---

