---
layout: 'publication'
isPublication: true
isForthcoming: true
isReview: true
title: "Review of Joint Commitment by Margaret Gilbert"
authors: 'Stephen A. Butterfill'
year: 'forthcoming'
journal: 'Journal of Moral Philosophy'
pdf: true
---
