---
layout: 'publication'
isPublication: true
isForthcoming: false
title: 'Seeing Causes and Hearing Gestures'
year: 2009
authors: 'Stephen A. Butterfill'
journal: 'Philosophical Quarterly'
number: 236
pages: '405-428'
volume: 59
doi: '10.1111/j.1467-9213.2008.585.x'
abstract: 'Can humans see causal interactions? Evidence on the visual perception of causal interactions, from Michotte to contemporary work, is best interpreted as showing that we can see some causal interactions in the same sense as that in which we can hear speech. Causal perception, like speech perception, is a form of categorical perception.'
---


