---cson
layout: 'publication'
isPublication: true
isForthcoming: false
title: "Is Goal Ascription Possible in Minimal Mindreading? [Reply to Michael and Christensen]"
authors: 'Stephen A. Butterfill and Ian A. Apperly'
year: '2016'
journal: 'Psychological Review'
volume: ''
number: ''
pages: ''
doi: ''
abstract: """
  In this response to the commentary by Michael and Christensen, 
  we first explain how minimal mindreading is compatible with the 
  development of increasingly sophisticated mindreading behaviours 
  that involve both executive functions and general knowledge, and then 
  sketch one approach to a minimal account of goal ascription."""
pdf: true
---
