---
layout: 'publication'
isPublication: true
isForthcoming: false
title: 'What Does Knowledge Explain? Commentary on Jennifer Nagel'
year: '2013'
sort_order: 10
authors: 'Stephen A. Butterfill'
booktitle: 'Oxford Studies in Epistemology'
editor: 'Tamar Szabó Gendler and John Hawthorne'
address: 'Oxford'
publisher: 'Oxford University Press'
volume: 4
pages: 309-320
abstract: "Knowledge is a mental state: Nagel may be right about this  but wrong to suppose that knowledge is prior to belief in the sense that being able to recognize belief somehow depends on having a concept of knowledge.  This commentary identifies objections  to Nagel's arguments for priority.  Some of these objections arise from Nagel's selective use of developmental evidence on mindreading: additional findings reveal a more complex (and more interesting) picture of how abilities to recognize and track knowledge and belief develop.  If Nagel's arguments for priority fail, why hold that knowledge is a mental state?  An alternative approach might draw on arguments that intention is a mental state.  Knowledge and intention play complementary and interlocking roles in planning and practical reasoning.  Perhaps it is these roles, not claims about priority, which complicate attempts to reduce either knowledge or intention to belief or desire or some combination of these."
pdf: true
---

p Nagel's paper is on PhilPapers: 
    a(href='http://philpapers.org/archive/NAGKAA-3.1.pdf') philpapers.org/archive/NAGKAA-3.1.pdf
