--- cson
layout: 'talk'
isTalk: true
title: 'How to Construct a Minimal Theory of Mind'
date: '2011/10/13'
authors: 'Stephen A. Butterfill'
address: 'CUNY Graduate Center, New York'
abstract: false
handout: false
slides: false
---
