--- cson
layout: 'talk'
isTalk: true
title: 'Intention and Motor Representation in Action Explanation'
date: '2012/04/16'
authors: 'Stephen A. Butterfill'
address: 'School of Psychology, University of Glasgow'
abstract: false
handout: false
slides: false
---
