--- cson
layout: 'talk'
isTalk: true
title: 'Mindreading and Joint Action'
date: '2011/05/19'
authors: 'Stephen A. Butterfill'
address: 'University of Heidelberg'
event: 'Das Gehirn - ein Beziehungsorgan'
abstract: 'In this talk I present some research on minimal theory of mind, on joint action and on relations between the two.'
handout: true
slides: true
---
