--- cson
layout: 'talk'
isTalk: true
title: 'How to Construct Cooperative Agents'
date: '2013/04/8'
date_end: '9'
authors: 'Stephen A. Butterfill'
event: 'Cooperation: Why, How and With Whom?'
address: 'University of Aarhus'
abstract: false
handout: false
slides: false
---
