---cson
layout: 'talk'
isTalk: true
title: 'Intention and Motor Representation in Joint Action'
date: '2012/03/9'
authors: 'Stephen A. Butterfill'
address: 'Institut Jean-Nicod, Ecole Normale Sup&eacute;rieure, Paris'
abstract: false
handout: false
slides: false
---

