--- cson
layout: 'talk'
isTalk: true
title: 'Interacting Mindreaders'
date: '2012/09/5'
authors: 'Stephen A. Butterfill'
address: 'Department of Cognitive Science, Central European University, Budapest'
abstract: false
handout: false
slides: false
---
