--- cson
layout: 'talk'
isTalk: true
title: 'Joint Action and the Emergence of Mindreading'
date: '2013/05/2'
authors: 'Stephen A. Butterfill'
event: 'Origins of Social Cognition Lecture Series'
address: 'University of Antwerp'
abstract: false
handout: false
slides: false
---
