--- cson
layout: 'talk'
isTalk: true
title: 'Intention and Motor Representation in Explaining Action'
date: '2012/03/23'
date_end: '24'
event: 'Reconceptions of Action'
authors: 'Stephen A. Butterfill'
address: 'Ecole Normale Superieure, Lyon'
abstract: false
handout: false
slides: false
---

