--- cson
layout: 'talk'
isTalk: true
title: 'Joint Action: Conceptual Tools for Scientific Research'
date: '2011/02/15'
authors: 'Stephen A. Butterfill'
address: 'Department of Philosophy, Universit&agrave; degli Studi di Milano'
abstract: false
handout: false
slides: false
---
