--- cson
layout: 'talk'
isTalk: true
title: 'Minimal Theory of Mind: How to Measure Mental States'
date: '2013/04/30'
authors: 'Stephen A. Butterfill'
address: 'Department of Psychology, University of Cambridge'
abstract: false
handout: false
slides: false
---
