--- cson
layout: 'talk'
isTalk: true
title: "Joint Action and Knowing Others' Minds"
date: '2011/01/28'
date_end: '29'
authors: 'Stephen A. Butterfill'
event: 'Mindreading'
address: 'Radbound University Nijmegen'
abstract: false
handout: false
slides: false
---
