--- cson
layout: 'talk'
isTalk: true
title: 'The Problem of Other Minds'
date: '2011/09/12'
authors: 'Stephen A. Butterfill'
event: 'The British Science Festival'
address: 'Bradford'
abstract: false
handout: false
slides: false
---
