--- cson
layout: 'talk'
isTalk: true
title: 'Shared Agency with Parallel Planning'
date: '2013/04/2'
date_end: '4'
authors: 'Stephen A. Butterfill'
event: 'Collective Intentionality'
address: 'Center for interdisciplinary Research (ZiF), Bielefeld University'
abstract: false
handout: false
slides: false
---
