--- cson
layout: 'talk'
isTalk: true
title: 'Shared Agency with Minimal Theory of Mind'
date: '2013/07/22'
date_end: '24'
authors: 'Stephen A. Butterfill'
event: 'Collective Agency and Cooperation in Natural and Artificial Systems'
address: 'University of Stuttgart'
abstract: false
handout: false
slides: false
---


