--- cson
layout: 'talk'
isTalk: true
title: 'Minimal Theory of Mind and Joint Action'
date: '2011/11/17'
authors: 'Stephen A. Butterfill'
address: 'University of Stirling'
abstract: false
handout: false
slides: false
---

