---
layout: 'default'
title: 'Philosophy in Cognitive and Developmental Psychology'
---
html
  body
    h4 Engaging lecture delivery and materials

    p ‘Lecturer was very engaging and delivered content in a precise, clear way.’ (*Words and Things*, 2018-9)

    p ‘Dr Butterfill’s setup and body language as well as his attitude in both pre-recorded and live lectures makes the experience enjoyable and the material easier to absorb’ (*Mind and Reality*, 2020-21)

    p ‘Lectures are engaging, watchable but also thought-provoking.’ (*Mind and Reality*, 2020-21)

    p ‘Steve was the single greatest thing about this module. Best lecturer I’ve had.’ (*Mind and Reality*, 2020-21)

    p ‘He tries to make the lectures super engaging, e.g. fun video examples and backgrounds, which helps!’ (*Mind and Reality*, 2020-21)

    p ‘The slides were amazing.’ (*Central Themes in Philosophy*, 2019-20)

    p ‘Amazing lecturer 10/10 I would Butterfill again.’ (*Central Themes in Philosophy*, 2019-20)

    p ‘Absolutely love the enthusiastic manner with which Stephen engages the content’ (*Central Themes in Philosophy*, 2019-20)

    p ‘Steve is very passionate about what he teaches and it shows.’ (*Descartes*, 2018-19)

    p ‘Great lecturer, clearly passionate about what he teaches.’ (*Moral Psychology*, 2019-20)

    p ‘The form of teaching is unique and brilliant.’ (*Philosophical Issues in Behavioural Science: from Individual to Collaborative Action*, 2021-22)

    p ‘Fantastic lectures, Stephen Butterfill is a truly remarkable lecturer!’ (*Social Cognition*, 2017-8)


    h4 Care for students and availability to them

    p ‘Stephen is very approachable and always happy to meet with you to discuss your development throughout the course and offer good help/advice whenever you need it.’ (*Words and Things*, 2018-9)

    p ‘Stephen appears to have a genuine interest and care in the module which is obvious in all aspects in this course.’ (*Mind and Reality*, 2020-21)

    p ‘He’s super friendly so easy to approach with questions/concerns!’ (*Mind and Reality*, 2020-21)

    p ‘Amazing Butterfill’ (*Central Themes in Philosophy*, 2019-20)

    p ‘It’s hard to name one thing, because everything about Steve’s teaching is just amazing. If I was pressed on it, I’d probably say the combination (that’s one right?) of his intellectually challenging style and his extreme patience, interest and generosity in lectures, seminars and not least office hours.’ (*Moral Psychology*, 2019-20)

    p ‘Love how happy Steve is to respond to what we want to lean about and really appreciate that this is a new and exciting field of research.’ (*Social Cognition*, 2017-8)

    p ‘Throughout my three years at this University, I have never had a teacher so committed to his students and so keen in helping each one of us to succeed.’ (*Social Cognition*, 2017-8)


    h4 Online and blended teaching

    p ‘The pre-recorded lectures are always fun to watch.’ (*Mind and Reality*, 2020-21)

    p ‘As engaged as you could be with online learning, it’s as good as it gets I think’ (*Mind and Reality*, 2020-21)

    p ‘Online/blended learning for the most part has worked great for this module.’ (*Mind and Reality*, 2020-21)

    p ‘Steves approach to online has been fantastic and the quality of his videos has been astronomically better than every other lecturer (possibly in the whole uni).’ (*Mind and Reality*, 2020-21)

    p ‘Definitely one of the best for making the lectures easier and more agreeable to watch.’ (*Mind and Reality*, 2020-21)


    h4 Small-group teaching

    p ‘He treats his students as equals and works through the arguments with us, rather than just telling us about them.’ (*Central Themes in Philosophy*, 2019-20)

    p ‘Very good at maintaining discussions and getting everyone involved in learning. Does this well by making the effort to learn everyones names which is really nice and makes you engage with him more. Fantastic tutor.’ (*Descartes*, 2018-19)

    p ‘I engaged a lot; it was hard not to with Steve’s contagious enthusiasm.’ (*Moral Psychology*, 2019-20)

    p ‘Steve is a passionate seminar tutor who really contributes to my understanding of the topic and the discussions involved.’ (*Moral Psychology*, 2019-20)

    p ‘Seminars are A* tier.’ (*Philosophical Issues in Behavioural Science: from Individual to Collaborative Action*, 2021-22)

    p ‘Really appreciated the opportunity to get essay plans peer reviewed in seminars.’ (*Social Cognition*, 2017-8)


    h4 Challenging assessments on unique content supported by useful feedback

    p ‘All the topics delivered throughout this module engaged me in every way as the topics are thought provoking and extremely fascinating. The readings are very engaging too and easy to find.’ (*Moral Psychology*, 2019-20)

    p ‘Dr Butterfill’s weekly formative assignments. They may not seem like it, but they really help and make bigger assignments less daunting as he gives feedback and chance to peer review others’ essays, which gives guidance and support in what’s expected of you.’ (*Moral Psychology*, 2019-20)

    p ‘Would definitely recommend this module to students from all kinds of departments.’ (*Moral Psychology*, 2019-20)

    p ‘Steve’s lectures are just unparalleled in any respect.’ (*Moral Psychology*, 2019-20)

    p ‘it is hard work - if you’re doing a Stephen Butterfill module, you know your workload (and consequently, working hours) are going to increase significantly.’ (*Philosophical Issues in Behavioural Science: from Individual to Collaborative Action*, 2021-22)

    p ‘The feedback was always constructive, fair, and consistent.’ (*Philosophical Issues in Behavioural Science: from Individual to Collaborative Action*, 2021-22)

    p ‘It is HARD WORK - the workload is heavy, the contents are difficult, and the seminars are stressful (you’ll be put on the spotlight, a lot). Still, it is one of the best modules the department has to offer’ (*Philosophical Issues in Behavioural Science: from Individual to Collaborative Action*, 2021-22)

    p ‘Steve’s modules are my favourite modules I’ve studied at undergrad. So engaging.’ (*Social Cognition*, 2017-8)

    p ‘unorthodox ... quite challenging’ (*Social Cognition*, 2017-8)


